body{
    margin-top:10px;
}

a{
    text-decoration: none;
}

/* HEADER */
.img_logo{
    width: 200px;
}

#boton_buscar:hover{
    background-color:#1aa3ac
}


.color1 {color: #12283b;}
.color2 {color: #124858;}
.color3 {color: #147080;}
.color4 {color: #1aa3ac;}
.color5 {color: #20dbd8;}